{% extends "base.html" %}
{% block corpo %}
<div class="cartao estreito"><h1>Alterar minha senha</h1>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label>Senha atual <input type="password" name="atual" required autocomplete="current-password"></label>
  <label>Nova senha (mín. 8) <input type="password" name="nova" required minlength="8" autocomplete="new-password"></label>
  <label>Repita a nova senha <input type="password" name="nova2" required autocomplete="new-password"></label>
  <button class="botao">Salvar</button>
</form></div>
{% endblock %}
